{% extends 'alt_base.html' %}
{% load i18n pagination_tags staticfiles %}
{% block content %}
    <div id="news_wrapper">
        <h1>{% trans 'NEWS' %}</h1>
        <div class="latest-posts">
            {% autopaginate news 5 %}
            {% for n in news %}
            <div class="news-list">
                <div class="text">
                    <h3><a href="{% url news n.id %}">{{ n.title }}</a></h3>
                    <p>{{ n.content|safe|truncatechars:130 }}</p>
                </div><!-- /.text -->
            </div>
            {% endfor %}
        </div>
        {% paginate using "pagination.html" %}
        <div class="clearing"></div>
    </div>
{% endblock %}
