{% extends 'base.html' %}
{% load staticfiles i18n %}
{% block content %}
    <div id="sections">
        <div id="image_area">
            <!--<div id="fader3" class="crossfader">-->
            <img src="{% static 'images/banner_1.jpg' %}" />
            <!--</div>-->
        </div>
    </div>
    <div id="main">
        <!-- SIDEBAR -->
        <div class="sidebar left clearfix">
            <div id="submenu-widget-3" class="box widget-container widget_submenu">
                <div class="box-wrapper">
                    <h2 class="widget-title">{% trans 'NEWS' %}</h2>
                    <ul>
                    {% for n in news %}
                        <li><a href="{% url news n.id %}">{{ n.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- end of SIDEBAR -->
        <!-- MAINBAR -->
        <div id="content" class="mainbar right entry-content clearfix">
            <h1>{% trans 'About Us' %}</h1>
            <p>{{ about.content|safe }}</p>
        </div>
        <!-- end of mainbar -->
        <br clear="all">
    </div>
{% endblock %}
